
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aclonica&family=Acme&family=Arima:wght@300;400;700&family=Bebas+Neue&family=Cinzel:wght@400;500&family=Cookie&family=Dancing+Script:wght@400;500&family=Girassol&family=Josefin+Sans:wght@400;500;600;700&family=Libre+Bodoni&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Mouse+Memoirs&family=Nunito:wght@300;400;500;600;700;800;900&family=Pacifico&family=Philosopher:wght@400;700&family=Playball&family=Playfair+Display:wght@400;500;600;700&family=Raleway:ital@0;1&family=Roboto:wght@300;400;500;700&family=Satisfy&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,300&family=Yeseva+One&family=Yusei+Magic&display=swap');


:root{
    --main-font:'Josefin Sans', sans-serif;
    --main-font2:'Montserrat', sans-serif;
    --main-color:#d6672f;
    --transition:all 400ms ease-in-out;
}

.news_letter{
    padding: 30px;
    background: linear-gradient(45deg, #fad8a9 ,#f7b798);
    border-radius: 20px;
    position: relative;
    top: 140px;
}

.news_letter h5{
    font-family: var(--main-font2);
    font-size: 25px;
    color: #d6672f;
}

.news_letter div p{
    font-family: 'Nunito' , sans-serif;
}

.news_letter div form input{
    border-radius: 30px;
    border: 2px solid var(--main-color);
}

.news_letter div form  button{
    background-color: var(--main-color);
    border:2px solid transparent;
    border-radius: 30px;
    transition: var(--transition);
}

.news_letter div form  button:hover{
    background-color: #f65504;
    border: 2px solid transparent;
}


@media (max-width:992px) {
    .news_letter{
        padding: 15px;
    }

    .news_letter div{
        margin-left: 0 !important;
        margin-bottom: 5px;
    }
}

@media (max-width:554px){
    .news_letter h5{
        font-size: 25px;
    }
    .news_letter{
        border-radius: 0;
    }
    .testemonials_slide{
        border-radius: 0;
        margin: 0 !important;
        
    }
} 