@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aclonica&family=Acme&family=Arima:wght@300;400;700&family=Bebas+Neue&family=Cinzel:wght@400;500&family=Cookie&family=Dancing+Script:wght@400;500&family=Girassol&family=Josefin+Sans:wght@400;500;600;700&family=Libre+Bodoni&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Mouse+Memoirs&family=Nunito:wght@300;400;500;600;700;800;900&family=Pacifico&family=Philosopher:wght@400;700&family=Playball&family=Playfair+Display:wght@400;500;600;700&family=Raleway:ital@0;1&family=Roboto:wght@300;400;500;700&family=Satisfy&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,300&family=Yeseva+One&family=Yusei+Magic&display=swap');

:root{
    --main-font:'Josefin Sans', sans-serif;
    --main-font2:'Montserrat', sans-serif;
    --main-color:#d6672f;
    --transition:all 400ms ease-in-out;
}

.testemonials_slide{
    background: linear-gradient(45deg, #fdd091 ,#faa87f);
    padding: 70px 0px;
}

.card{
    margin-bottom: 40px;
    width: 350px;
    margin: 10px;
}

.card img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
    object-fit: cover;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.189);
}

.card .client_info h5{
    font-family: var(--main-font);
    color: var(--main-color);
}

.card .client_info p:first-of-type{
    font-family: var(--main-font2);
}

.card .client_info p:last-child{
    font-family: 'Nunito' , sans-serif;
}

.client_feedback{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.client_feedback i{
    font-size: 30px;
    color: var(--main-color);
    margin-left: 20px;
}

.client_feedback p{
    font-family: 'work sans' , sans-serif;
    text-align: center;
}


.swiper-pagination-bullet{
    background-color: var(--main-color) !important;
}

